body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: lightgrey;
  }
  a {
    color: GreenYellow;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: lightgrey;
    color: black;
  }
  a {
    color: DarkOliveGreen;
  }
}
.list {
  margin-bottom: 10px;
}
.card {
  margin-left: 20px;
  margin-bottom: 20px;
}
.hidden {
  display: none;
}
a {
  color: YellowGreen;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.back-link {
  display: block;
  margin-top: 20px;
}
audio {
  display: block;
  margin-top: 10px;
}
.controls {
  margin-top: 10px;
}
.controls button {
  margin-right: 10px;
}
.attachments {
  list-style-type: none;
  padding-left: 0;
}
.attachments li {
  margin-bottom: 5px;
}
.active {
  font-weight: bold;
}
